services:
  db:
    image: mysql:8.0
    container_name: fastfood-observability-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: fastfood
      MYSQL_USER: fastfood
      MYSQL_PASSWORD: fastfood
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  api:
    build: .
    container_name: fastfood-observability-api
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - DB_HOST=db
      - DB_PORT=3306
      - DB_NAME=fastfood
      - DB_USER=fastfood
      - DB_PASS=fastfood
    depends_on:
      - db
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: fastfood-observability-prometheus
    ports:
      - "9093:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    depends_on:
      - api
    restart: unless-stopped

volumes:
  db_data:


